*{
	box-sizing:border-box;
	overflow:hidden;
	font-family:arial;
	margin:15px;
	margin-top:1px;
	
header{
	background-image:url("tlo-wzor.png");
	background-repeat:repeat-x;
	font-size:20px;
	color:white;
	padding:0px;
	height:100px;
	text-align:center;
	text-transform:uppercase;
}

header::first-letter{
	font-size:125%
}

}
p::before{
	content:"\00a0";
}
p::first-letter{
	font-size:200%
}
p:not([class]){
	text-indent:40px;
}
p::first-line{
	text-decoration:underline;
}
nav{
	float:left;
	width:22%;
}
nav li{
	float:left;
	height:100%;
	border:3px solid black;
	background-color:RGB(192,192,192);
	padding:5px;
	margin:5px;
	list-style:none;
	width:200px;
	text-align:center;
	text-decoration:none;
}
li a{
	text-transform:uppercase;
}
}
#content li{
	
}
#content{
	border-left:1px solid RGB(181,230,29);
	float:left;
	width:65%;
	height:100%;
}
footer{
	border-top:1px solid black;
	clear:both;
}

h2{
	color:RGB(112,128,0);
}
h2:first-of-type{
	color:RGB(30,80,80);
	letter-spacing:4px;
	font-size:30px;
}

.kwiatki{
	color:RGB(130,180,180);
	text-transform:uppercase;
	font-weight:bold;
	margin:0 auto;
}

.kwiatki::before{
	content:"UWAGA !!!!";
}
